name: Run Tests

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [ "main" ]

env:
  DOTNET_VERSION: '10.0.x' # The .NET SDK version to use

jobs:
  test:

    runs-on: ubuntu-latest
    
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    
    - name: Build Plugin for Testing
      run: dotnet build src/Plugin.Maui.TvDPad/Plugin.Maui.TvDPad.csproj /p:TargetFrameworks=net10.0 -c Debug

    - name: Restore Test Dependencies
      run: dotnet restore tests/Plugin.Maui.Feature.Tests.sln

    - name: Build Tests
      run: dotnet build tests/Plugin.Maui.Feature.Tests.sln -c Debug --no-restore

    - name: Run Tests
      run: dotnet test tests/Plugin.Maui.Feature.Tests.sln --no-build --verbosity normal
